/*ヘッダー*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-contents-list{
    text-decoration: none;
    margin-right: 5rem;
    color: #000;

}

.header-contents-nav{
    display: flex; 
    align-items: center;
}

.header-nav{
    display: none;
}

.header-contents-container{
    display: flex; 
    height: 60px;
}

.header__hamburger{
    display: none;
}

.header-contents-container-inform{
    background-color: #0073bc;
    display: flex;
    border-bottom-left-radius: 2rem;
}
.header-contents-container-line{
    background: #27C02D;
    display: flex;
}

.header-contents-boxlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.header-contents-container-inform, 
.header-contents-container-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 親要素（.header-contents-container）の高さに合わせる */
    padding: 0 15px; /* 横方向のパディングを追加 */
    width: 6rem;
}

/*section components*/

.title-container{
    margin-top: 6rem;
    margin-left: 7rem;
}

.title-container-title{
    margin-bottom: 4rem;
}

.title-container-subtitle{
    margin-bottom: 4rem;
}

.title-container-heroimg{
    height: 555px;
    width: 974px;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
}

.title-container-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* section list-container */
.list{
    display: flex;
    justify-content: center;
}

.list-container-section1{
    background-color: #FBFBFB;
    width: 70%;
    margin-top: 2vw;
    height: 120rem;
}
.list-container-section2{
    background-color: #FBFBFB;
    width: 70%;
    margin-top: 2vw;
    height: 80rem;
}
.list-container-section3{
    background-color: #FBFBFB;
    width: 70%;
    margin-top: 2vw;
    height: 110rem;
}

.aboutus-container-posse-text{
    font-size: 200px;
    font-weight: 60;
    color: #E6E6E6;
    opacity: 0.2;
}

.aboutus-container-posse{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.list-container-title{
    margin-top: 3vw;
}

.list-container-title-text{
    font-size: 40px;
    font-weight: bold;
    color: #0071bc;
    margin-left: 3rem;
    margin-top: 3rem;
    text-decoration: none;
}



/* 本体部分 */
.content {
    display: flex;
    justify-content: center;
    width: 100vw; /* 画面の横幅に合わせる */
    padding: 0;
    margin: 0;
}

.step {
    display: flex;
    flex-direction: column;
    width: 100%; /* 親要素の幅に合わせる */
    list-style: none;
    padding: 0;
    margin: 0;
}

.step-container {
    position: relative;
    padding: 20px 30px;
    margin-bottom: 25px;
    background: #E0EEF7;
    width: 100%; /* 親要素の幅に合わせる */
    height: 20rem;
    box-sizing: border-box; /* paddingを含めて幅を調整 */
    text-align: center; /* 中央揃え */
}

/* 先端部分 (矢印) */
.step-container::after {
    content: "";
    position: absolute;
    bottom: -90px; /* もう少し矢印がはみ出るように調整 */
    left: 50%; /* 矢印の中央を揃える */
    transform: translateX(-50%); /* 左に50%移動して中央に配置 */
    border-left: 50vw solid transparent; /* 左右をビューポートの半分に設定 */
    border-right: 50vw solid transparent;
    border-top: 90px solid #E0EEF7; /* 高さを80pxに設定 */
}


/* About us section*/
.list-container-subtitle{
    font-size: 20px;
    margin-top: 1rem;
    margin-left: 3rem;
    color: #B5B4B4;
    font-weight: bold;
}

.list-container-contents{
    color: #858585;
    
    width: 61%;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 10rem;
    font-weight: bold;
    font-style: initial;
}

/* Config section */
.config-container{
    display: flex;
    justify-content: center;
}
.config-container-contents{
    width: 30%;
    margin-right: 1.2rem;
    background-color: #F3F3F3;
    margin-top: 3rem;
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10%;
}
.config-container-contents-title{
    background-color: #0071BC;
    color: white;
    padding: 0.5rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10%;
    position: absolute;
    top: -0.7rem;
}

.config-container-contents-text1{
    color: #0071BC;
    margin: 2rem;
}

.config-container-contents-text2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.config-container-contents-img{
    margin-bottom: 1rem;
}

/* benefits section */
.benefits-container{
    background-color: #E0EEF7;
    padding: 2rem;
    margin: 8rem 1rem;
    border-radius: 1rem;
    display: flex;
}
.benefits-container-title{
    display: flex;
    align-items: center;
    margin-right: 1vw;
    
}

.benefits-container-title-inner-text{
    font-weight: bold;
    font-size: 1.5vw;
    color: #0071bc;
    margin-left: 1vw;
}
.benefits-container-contents{
    margin-right: 1vw;
    margin-top: 2rem;
}

.benefits-container-contents2{
    margin: 1rem 0;
    font-size: 0.8vw;
}

.benefits-container-contents3{
    font-size: 0.8vw;
}

/* footer */
.footer-container{
    height: 10vh;
    background-color: #0071BC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* スライダー */
#slider {
    width: 100%; /* スライダー全体の幅を画面全体に設定 */
    display: flex;
    justify-content: space-between; /* 各画像の間に余白を設定 */
    overflow: hidden; /* 画面に収まらない部分を非表示に */
    padding: 8vw 0.2vw; /* 左右に2vwの余白を追加 */
}

#slider img {
    width: 22vw; /* 画像の幅を20vwに設定 */
    height: 15vw; /* 画像の高さを自動調整 */
    flex-shrink: 0; /* 画像の縮小を防ぐ */
    border-radius: 2rem;
}

.slick-slide {
    height: auto !important;
}





/* iPhone XR対応のレスポンシブスタイル */
@media screen and (max-width: 414px) {
    

    .header-contents-nav{
        display: none; 
    }
    /* メインタイトルと画像のスタイル */
    .title-container {
        margin: 10vh 3vh;
    }

    .title-container-title {
        margin-bottom: 2rem;
    }

    .title-container-subtitle h1 {
        font-size: 2rem !important;
        text-align: center;
    }

    .title-container-heroimg {
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        height: auto;
        width: 100%;
        border-radius: 1rem;
    }

    .title-container-hero {
        align-items: center;
    }

    /* セクションのスタイル */
    .aboutus-container-posse{
        display: none;
    }
    .list-container-section1{
        width: 90%;
        margin-top: 5rem;
        padding: 1rem;
        height: 100rem !important;
    }
    .list-container-section2{
        width: 90%;
        margin-top: 5rem;
        padding: 1rem;
        height: 70rem !important;
    }
    .list-container-section3{
        width: 90%;
        margin-top: 5rem;
        padding: 1rem;
        height: 130rem !important;
    }


    .list-container-title{
        margin-top: 2vh !important;
    }

    .list-container-title-text {
        font-size: 1.5rem;
        margin-left: 0;
        text-align: center;
    }

    .list-container-subtitle {
        font-size: 1rem;
        margin-left: 0;
        text-align: center;
    }

    .list-container-contents {
        width: 100%;
        font-size: 1rem;
        margin-left: 0;
        text-align: justify;
    }

    .step{
        height: 15vh;
    }

    /* Config section */
    .config-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .config-container-contents {
        width: 90%;
        margin: 1rem 0;
    }

    .config-container-contents-img img {
        width: 10rem;
    }

    /* benefits section */

    .benefits-container {
        flex-direction: column;
        padding: 1rem;
    }

    .benefits-container-title-inner-text {
        font-size: 1.2rem;
        margin-left: 0;
        text-align: center;
    }

    .benefits-container-contents1{

    }

    .benefits-container-contents1 {
        font-size: 1rem !important;
        margin-bottom: 2rem;
    }
    .benefits-container-contents2 {
        font-size: 0.7rem !important;
        margin-bottom: 2rem;
    }
    .benefits-container-contents3 {
        font-size: 0.7rem !important;
        margin-bottom: 2rem;
    }

    .benefits-img1{
        display: none;
    }
    .benefits-img3{
        display: none;
    }

    .benefits-container-imgbox-outer{
        display: flex;
        justify-content: center;
    }
    .benefits-img2{
        width: 100% !important;
        border-radius: 2rem !important;
    }

    .benefits-img4{
        width: 100% !important;
        border-radius: 2rem !important;
    }

    .benefits-img5{
        width: 100% !important;
        border-radius: 2rem !important;
    }
    /* フッターのスタイル */
    .footer-container {
        font-size: 0.8rem;
        padding: 1rem;
    }

    /* スライダーのスタイル */
    #slider {
        padding: 5vw 0.2vw;
    }

    #slider img {
        width: 90%;
        height: auto;
        border-radius: 1rem;
    }

    .slick-slide {
        height: auto !important;
    }
}

